@import "../../Styles/variables";

.chartView {
  margin-bottom: 4vh;
  &__title {
    color: map-get($colors, colorWhite);
    text-transform: uppercase;
    font-size: map-get($font-size, font-md);
    margin-bottom: -2rem;
    text-align: center;
  }
}
