@import "../../Styles/variables";
@import "../../Styles/mixins";

.map {
  height: 50rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 4vh;

  .leaflet-container {
    height: 100%;
    border-radius: 0.5rem;
  }
}

.info {
  &__name {
    font-weight: map-get($font-weight, bold);
  }

  &__flag {
    height: 4rem;
    width: 7rem;
    border-radius: 0.3rem;
    background-size: cover;
    background-position: center center;
    margin-bottom: 1vh;
  }

  &__cases {
  }

  &__recover {
    margin: 0.2vh 0;
  }

  &__death {
  }
}
