@import "../../Styles/mixins";
@import "../../Styles/variables";

.signUp {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8)
    ),
    url(../../Components/Assets/Cover.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  padding: 0 2rem;

  &__container {
    @include flexbox(row, center, center);
    height: 100vh;
  }

  &__skip {
    background-color: transparent;
    position: absolute;
    top: 5%;
    right: 4%;
    cursor: pointer;
  }

  &__l {
    color: map-get($colors, colorWhite);
    font-weight: map-get($font-weight, bold);
    font-size: map-get($font-size, font-md);
  }

  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2vh;
    cursor: pointer;
  }

  &__form {
    @include flexbox(column, center, center);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.4rem;
    min-height: 50rem;
    width: 50rem;
    padding: 1rem;
  }

  &__group {
    @include flexbox(column, center, flex-start);
    margin-bottom: 2vh;
  }

  &__label {
    font-size: map-get($font-size, font-sm);
    margin-bottom: 0.6vh;
  }

  &__forget {
    font-size: map-get($font-size, font-xsm);
    padding: 1rem 0;
  }
  &__input {
    width: 30rem;
    padding: 1rem;
    border-radius: 0.2rem;
    font-weight: map-get($font-weight, bold);

    @include for-tablet {
      font-size: map-get($font-size, font-xsm);
    }

    &:placeholder-shown {
      font-weight: map-get($font-weight, bold);
    }
  }

  &__error {
    color: red;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
  }

  &__message {
    color: lime;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
  }

  &__btn {
    padding: 1rem 2rem;
    background-color: map-get($colors, colorPrimary);
    font-weight: map-get($font-weight, bold);
    color: map-get($colors, colorWhite);
    border-radius: 0.2rem;
    margin: 1vh 0;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}

// color: "red",
//               fontWeight: "500",
//               fontSize: "1.3rem",
//               textAlign: "left",
//               width: "100%",
